<!-- sidebar start -->
  <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
      <ul class="am-list admin-sidebar-list">
        <li><a href="/admin"><span class="am-icon-home"></span> 网站配置</a></li>
        <li><a href="/user"><span class="am-icon-table"></span> 用户安全</a></li>
        <li><a href="/article"><span class="am-icon-pencil-square-o"></span> 文章管理</a></li>
        <li><a href="/arttype"><span class="am-icon-sign-out"></span> 文章类别管理</a></li>
      </ul>

      <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
          <p><span class="am-icon-bookmark"></span> 公告</p>
          <p>时光静好，与君语；细水流年，与君同。—— 汪少伟</p>
        </div>
      </div>
    </div>
  </div>
  <!-- sidebar end -->